{% extends "layout.html" %}
{% block title %}Words{% endblock %}
{% block content %}
  <div class="clearfix">
    <div class="span-18">
      <h1><a href="{{ url_for("view_word", word_data=word.word) }}">{{ word.word }}</a></h1>
    </div>
    <div class="right">
      <a href="{{ url_for("edit_word", word_data=word.word) }}">Edit mode</a>
    </div>
  </div>
  {% for word_part in speech_parts %}
    <div class="clearfix">
      <div class="span-18">
	<h2 class="no-margin">{{ word_part.part.label }}</h2>
      </div>
      <div class="span-6 last">
{#	<div class="clearfix">
	  <div class="right"><a href="">+ Add to {{ word_part.part.label|lower }} types</a></div>
	</div>
	<div class="clearfix">
	  <div class="right"><a href="">+ Add tag</a></div>
	</div>
#}
      </div>
    </div>

    <div class="clearfix">
      {% for part_type in word_part.part_types %}
        <h3>{{ part_type.part.label }}</h3>
      {% endfor %}
    </div>

    <div class="clearfix">
      <ul>
	{% for definition in word_part.word.definitions(word_part.part_id) %}
	  <li>
	    {{ definition.definition }}
	  </li>
	  <ol>
	    {% for usage_example in definition.usage_examples %}
	      <li>
		<em>{{ usage_example.sentence }}</em>
	      </li>
	    {% endfor %}
	  </ol>
	{% endfor %}
      </ul>
    </div>
{#    <form action="{{ url_for("add_definition", word_data=word.word) }}" name="definition" method="POST">
      {{ definition_form.part(value=word_part.part_id) }}
      <div class="clearfix">
	<div class="span-20">
	  <div class="span-12">
	    <label>{{ definition_form.definition.label }}</label>
	    {{ definition_form.definition(class="span-12") }}
	  </div>

	  <div class="prepend-12">
	    <label>{{ usage_form.sentence.label }}</label>
	    {{ usage_form.sentence }}
	  </div>
	</div>
      </div>
      <div class="clearfix">
	<div class="clearfix">
	  <div class="span-2"> {{ definition_form.submit }}</div>
	</div>
	<a href="">+ Add definition</a><br />
      </div>
    </form>
    #}
  {% endfor %}
  
  {#
  <div class="prepend-14">
    <form action="{{ url_for("view_word", word_data=word.word) }}" method="POST">
      {{ speech_part_form.csrf }}
      <div class="clearfix">
	<div class="right">
	  <div class="span-3 inline-label"><label>Add part of speech</label></div>
	  {{ speech_part_form.part(class="span-4") }}
	  <div class="span-1">{{ speech_part_form.submit }}</div>
	</div>
      </div>
      <div  class="clearfix">
	{% if speech_part_form.errors %}
	  <div class="notice">
	    {% for field_errors in speech_part_form.errors if field_errors %}
	      {{ speech_part_form.errors[field_errors][0] }}<br />
	    {% endfor %}
	  </div>
	{% endif %}
      </div>
    </form>
  </div>
  #}
  
  <hr />
      
  {% include "dictionary/_words_display.html" %}
      
{% endblock %}

