{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}

  <h1>{{ gettext('Search') }}</h1>
  
  <hr />

  <form action="{{ url_for("words.search") }}" class="form-search"
        method="POST">

    {% if form.word.errors %}
      <div class="notice">
        {% for error in form.word.errors %}<div>{{ error|e }}</div>{% endfor %}
      </div>
    {% endif %}
    {{ search_form.csrf_token }}{# {{ form.csrf }} #}
    {{ form.word(class="span7 input-medium search-query") }}
    {{ form.submit(class="btn") }}
  </form>
  
  <hr />
  
  {% include "words/_words_display.html" %}
  
{% endblock %}
