{# word heading for the view and edit pages (defaults to read mode) #}
{% macro word_heading_render(view_mode="read") %}
  <div class="row-fluid">

    <div class="span4">
      <h1><a href="{{ url_for("words.view", word_data=word.word) }}">{{ word.word }}</a></h1>
    </div>
    <div class="span2 right caps">
      [{{ word.language.label }}]
    </div>
    <div class="offset10 caps">
      <div class="right">
        {% if not view_mode == "history" %}
          <a href="{{ url_for("words.history", language_code=word.language.code, word_data=word.word) }}">{{ gettext('History') }}</a> &nbsp;
        {% endif %}
        {% if not view_mode == "read" %}
          <a href="{{ url_for("words.view", language_code=word.language.code, word_data=word.word) }}">{{ gettext('Read-only mode') }}</a>
        {% else %}
          <a href="{{ url_for("words.edit", language_code=word.language.code, word_data=word.word) }}">{{ gettext('Edit mode') }}</a>
        {% endif %}
      </div>
    </div>

  </div>
{% endmacro %}
