{% extends "layout.html" %}
{% block title %}Add{% endblock %}
{% block content %}

  <h1>{{ gettext('Add') }}</h1>
  <hr />
  
  <form action="{{ url_for("words.add") }}" method="POST">
    {{ form.csrf_token }}
    <div class="clearfix">
      {{ with_errors(form.word, class="span6") }}
    </div>
    {{ form.submit(class="btn") }}
  </form>
  
  <hr />
  
  {% include "words/_words_display.html" %}
  
  <div class="row-fluid">
    <div class="pull-right">
      {{ render_pagination(pagination) }}
    </div>
  </div>

{% endblock %}
