{% extends "layout.html" %}
{% block title %}Words{% endblock %}
{% block content %}

  {# word heading and main actions (edit/history/discuss?) #}
  {% from "words/_word_heading.html" import word_heading_render with context %}
  {{ word_heading_render(view_mode="edit") }}


  <hr />

  {# START ADD MASTER PART OF SPEECH #}
  {% include "words/edit/_master_part.html" %}
  {# END ADD MASTER PART OF SPEECH #}

  <hr />


  {% for word_part in speech_parts %}

    {# START MAIN PART #}
    {% include "words/edit/_sub_part_add.html" %}
    {# END MAIN PART #}
    
    
    {# START CHILDREN PARTS #}
    {% include "words/edit/_part_subpart.html" %}
    {# END CHILDREN PARTS #}


    {# START CHILDREN PARTS #}
    {% include "words/edit/_definitions.html" %}
    {# END CHILDREN PARTS #}
    
  {% endfor %}

  {# START THESAURUS #}  
  <div id="thesaurus">
    {% include "words/edit/_thesaurus.html" %}
  </div>
  {# END THESAURUS #}
  


  {# START TRANSLATIONS #}
  <div id="translations">
    {% include "words/edit/_translations.html" %}
  </div>
  {# END TRANSLATIONS #}
      
{% endblock %}













