{% extends "layout.html" %}
{% block title %}History{% endblock %}
{% block content %}

  {% from "words/_word_heading.html" import word_heading_render with context %}
  {{ word_heading_render(view_mode="history") }}

  <h3>{{ gettext('History') }}</h3>
  
  {% for revision in revisions %}
    <div class="row-fluid">
      <div class="span4">
        {% set prev_revision = revision.prev_revision %}
        {% if prev_revision %}
          {{ prev_revision.history_object() }}
        {% endif %}
        &nbsp;
      </div>
      <div class="span5">
        {{ revision.history_object() }}
        &nbsp;
      </div>
      <div class="span3">
        <div class="row-fluid">
          <div class="span3">
            {{ revision.action }}
          </div>
          <div class="span8">
            {{ revision.created|datetimeformat }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}
