{% extends "layout.html" %}
{% block title %}Words{% endblock %}
{% block content %}

  {# word heading and main actions (edit/history/discuss?) #}
  {% from "words/_word_heading.html" import word_heading_render with context %}
  <div class="row">
    <div class="large-12 columns">

      {{ word_heading_render() }}

      <hr />
    </div>
  </div>


  {% for word_part in speech_parts %}
    <div class="row">
      <div class="large-12 columns">
        <h4 class="no-margin">{{ word_part.part.label }}</h4>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">

        {% for part_type in word_part.part_types %}
          <div class="row">
            <div class="large-12 columns">
              <div class="large-2 columns">
                <h5>{{ part_type.part.label }}</h5>
              </div>
              {% if part_type.part.relation.part_id %}
                <div class="large-2 columns">
                  <em>{{ ngettext("of word", "of words", part_type.part.relation.limit) }}</em>
                </div>
                <div class="large-8 columns">
                  {% for word_relation in word.relations(part_type.part.id) %}
                    {% if not word_relation.word_id_1 == word.id %}
                      {{ word_relation.word_1.word }}
                    {% else %}
                      {{ word_relation.word_2.word }}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <ul>
	  {% for definition in word_part.word.definitions(word_part.part_id) %}
	    <li>
	      {{ definition.definition }}
	    </li>
	    <ol>
	      {% for usage_example in definition.usage_examples %}
	        <li>
		  <em>{{ usage_example.sentence }}</em>
	        </li>
	      {% endfor %}
	    </ol>
	  {% endfor %}
        </ul>
      </div>
    </div>

{% endfor %}


<div class="row">
  <div class="large-12 columns">

    {% for thesaurus_part in thesaurus_parts %}
      {% if not thesaurus_part.dependants_exist() %}{% continue %}{% endif %}
      <div class="row">
        <div class="large-12 columns">
          <h4 class="no-margin">{{ thesaurus_part.label }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">

          {% for definition in word.definitions(thesaurus_part.id) %}
            <ul>
              {% if not request.view_args.definition_data == definition.id %}
	        <li>
                  {{ definition.definition }}
                </li>
              {% endif %}
              <div class="row">
                <div class="large-12 columns">
                  {% for word_relation in word.relations(thesaurus_part.id, definition.id) %}
                    <div class="large-1 columns">
                      {% if not word_relation.word_id_1 == word.id %}
                        {{ word_relation.word_1.word }}
                      {% else %}
                        {{ word_relation.word_2.word }}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </ul>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">

          {# global (not belonging to a definition) part words #}
          {% for word_relation in word.relations(thesaurus_part.id) %}
            <div class="large-1 columns">
              {% if not word_relation.word_id_1 == word.id %}
                {{ word_relation.word_1.word }}
              {% else %}
                {{ word_relation.word_2.word }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {# START TRANSLATIONS #}

    <div class="row">
      <div class="large-12 columns">
        {% if translation_part.dependants_exist() %}
          <h4 class="no-margin">{{ translation_part.label }}</h4>
        {% endif %}
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        {% for translation in translation_part.translation_languages(word.id) %}
          {% if not translation_part.dependants_exist() %}{% continue %}{% endif %}
          <h5>{{ translation.language.label }}</h5>
          
          <div class="row">
            <div class="large-12 columns">
              {% for definition in word.definitions(translation_part.id, translation_id=translation.id) %}
                <ul>
                  {% if not request.view_args.definition_data == definition.id %}
	            <li>
                      {{ definition.definition }}
                    </li>
                  {% endif %}
                  <div class="row">
                    <div class="large-12 columns">
                      {% for word_relation in word.relations(translation_part.id, definition.id, translation_id=translation.id) %}
                        <div class="large-1 columns">
                          {% if not word_relation.word_id_1 == word.id %}
                            {{ word_relation.word_1.word }}
                          {% else %}
                            {{ word_relation.word_2.word }}
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </ul>
              {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              {# global (not belonging to a definition) part words #}
              {% for word_relation in word.relations(translation_part.id, translation_id=translation.id) %}
                <div class="large-1 columns">
                  {% if not word_relation.word_id_1 == word.id %}
                    {{ word_relation.word_1.word }}
                  {% else %}
                    {{ word_relation.word_2.word }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          
        {% endfor %}
      </div>
    </div>
    
  </div>
  {# END TRANSLATIONS #}
</div>

<hr />

{% include "words/_words_display.html" %}

{% endblock %}

