{% macro render_pagination(pagination) %}
  <hr />
  <nav>
    <ul class="pagination">
      {% if pagination.has_prev %}
        <li class="arrow"><a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo;</a></li>
      {% else %}
        <li class="arrow unavailable"><a>&laquo;</a></li>
      {% endif %}
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
          {% else %}
            <li class="current"><a>{{ page }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if pagination.has_next %}
        <li class="arrow"><a href="{{ url_for_other_page(pagination.page + 1) }}">&raquo;</a></li>
      {% else %}
        <li class="arrow unavailable"><a>&raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
{% endmacro %}
