{# language switching form (type "app_language" for global site language
and "language" for content contribution language) #}
{% macro render_language_form(language_type) %}
  {% set language_data = session[language_type]|language_data %}
  <div class="btn-group">
    <button class="btn">{{ language_data.label }}</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      {% for language in languages %}
        {% if language.id == session[language_type] %}
          {% continue %}
        {% endif %}
        <li><a href="{{ url_for('switch_language', language_type=language_type, language_code=language.code) }}">{{ language.label }}</a></li>
      {% endfor %}
    </ul>
   </div>
{% endmacro %}
