<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" type="text/css" media="print" /> 
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ie.css') }}" type="text/css" />
  <![endif]-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" type="text/css" />
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container clear">
      <div class="container clear">
	<div id="home" class="span-8"><a href="{{ url_for("home") }}">Zabalaza</a></div>
	<div id="menu" class="span-11">
	  <ul>
	    <li>
	      <a href="{{ url_for("words") }}">Words</a>
	    </li>
	    <li>
	      <a href="{{ url_for("add_words") }}">Add</a>
	    </li>
	    <li>
	      <a href="{{ url_for("search_words") }}">Search</a>
	    </li>
	  </ul>
	</div>
	<div id="search" class="span-5 last">
	  <div class="right">
	    {% include "_global_search.html" %}
	  </div>
	</div>

        {% macro render_language_form(language_type) %}
        <form action="{{ url_for("switch_language", next=request.url) }}" id="switch-language-form" method="POST">
          <select name="{{ language_type }}" class="span-3">
            {% for language in languages %}
              <option value="{{ language.code }}" {% if language.id == session[language_type] %}selected="selected"{% endif %}>
                {{ language.label }}
              </option>
            {% endfor %}
          </select>
        </form>
        {% endmacro %}

	<div id="language" class="span-5 last">
	  <div class="right">
            {{ render_language_form("app_language") }}
	  </div>
	</div>
      </div>
      
      {% macro with_errors(field) %}
	<div class="field">
	  <label>{{ field.label }}</label>
	  {% set css_class = kwargs.pop('class', '') %}
	  {% if not css_class %}
	    {% set css_class = 'clearfix span-17 ' + css_class %}
	  {% else %}
	    {% set css_class = 'clearfix ' + css_class %}
	  {% endif %}
	  {% if field.errors %}
	    
	    <div  class="clearfix">
	      {{ field(class=css_class, **kwargs) }}
	    </div>
	    <div class="notice">{% for error in field.errors %}<div>{{ error|e }}</div>{% endfor %}</div>
	  {% else %}
	    <div class="clearfix">
	      {{ field(class=css_class, **kwargs) }}
	    </div>
          {% endif %}
        </div>
      {% endmacro %}

      <div id="main" class="clearfix">      
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	    <div id="flashes">
	      {% for category, message in messages %}
		<div class="{{ category }}">{{ message }}</div>
	      {% endfor %}
	    </div>
	    {% endif %}
	  {% endwith %}
	{% block content %}{% endblock %}
      </div>
    </div>
    <br />
    <hr />
    <div class="container clear">
      
    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/default.js') }}"></script>
  </body>
</html>
